footer.footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: rgb(102, 100, 100);
    box-shadow: var(--shadow);
    color: white;
}

footer.footer a {
    text-decoration: none;
    color: black;
}
